.App {
  width: 1000px;
  margin: 20px auto 0;
}

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.HeaderBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 800;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  color: green;
}

.Form {
  width: 300px;
  margin: 40px auto;
  position: relative;
}

.FormField {
  position: relative;
  border: 1px solid black;
  padding: 20px;
  min-width: 100%;
  box-sizing: border-box;
  min-height: 100px;
}

.FormBtn {
  outline: none;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
  color: white;
  transform: translate(50%, 50%);
}

.Notes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.Note {
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  position: relative;
}

.Note p {
  margin: 0;
}

.DeleteBtn {
  position: absolute;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
  color: white;
  transform: translate(50%, -50%);
}
